{% extends 'base.html' %}

{% block styling %}
   <style>
        li{
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        li i{
            font-size: 45px;
            transition: 0.5s;
        }
        li i:hover{
            font-size: 50px;
        }
   </style> 
{% endblock styling %}

{% block content %}
   
    <br/>

    <div class="container">
        <div class="my-container gap-4">
            
            <div class="todo-list col-8 card my-card text-white p-4">
                <h3 class="card-title">
                    the available todo lists!
                </h3>
                <ul class="mt-3">
                    {% for item in ls %}    
                        <li class="p-2">
                            <a href={% url 'index' item.pk %} class="h5">
                               -{{item.name}}-
                            </a>
                            <div> 
                                <a href={% url 'delete_list' item.pk %}>
                                    <i class='bx bx-x' style='color:#c50e0e'  ></i>
                                </a>   
                            </div>
                        </li>
                    {% endfor %}
                </ul> 
            </div>
            

            <div class="col card my-card p-3 text-white">
                <h2>adding a new todo list:</h2>
                <form action="{% url 'new_todo_list' %}" method="post">
                    {% csrf_token %}
                    <div class="mb-3 mt-2">
                    <label for="exampleInputEmail1" class="form-label">todo list's name</label>
                    <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="name">
                    </div>
                    <button type="submit" class="btn btn-primary mt-3">Submit</button>
                </form> 
            </div>

        </div>
    </div>

   
{% endblock content %}

